body{
    margin:0;
    margin-top: 0;
}
.nomes, .formulario{
    margin: 0.5em;
}
nav{
    margin-top: 0;
    background-color: rgb(83, 83, 253);
    height: 3em;
    display: flex;
    color: white;
}
nav h1{
    margin: auto;
}
#mensagem{
    width: 100%;
    margin-right: 5px;
    border-radius: 0.5em;
    height: 3em;
    padding-left: 0.5em;
    margin-left: 0.5em;
}
.enviada{
    padding: 1px 1em;
    background-color: rgb(83, 83, 253);
    color: white;
    width: fit-content;
    border-radius: 1em;
    margin:10px;
    margin-left: auto;
}
.recebida{
    padding: 0.1em 2em;
    background-color: rgb(217, 217, 217);
    color: black;
    width: fit-content;
    border-radius: 1em;
    margin:10px;
}
.inputMensagem{
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0.5em;
}
.enviar{
    background-color: rgb(73, 73, 255);
    color: white;
    border-radius: 0.5em;
}
 .inputMensagem .enviar{
    margin-right: 0.5em;
 }
